@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

* {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: aliceblue;
    text-decoration: none;
}

/*WELCOME PAGE*/
.welcomepage { 
  height: 100vh;
  width:100vw;
  background-image: url(./images/coffee.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.welcometreeimg {
position: fixed;
top: 50vh;
left: 50vw;
margin-top: -326px;
margin-left: -330px;
}
.welcometext {
position: fixed;
top: 50vh;
left: 50vw;
margin-top: -326px;
margin-left: -330px;
height:643px;
width: 660px;
}


/*HEADER-NAV BAR*/
.flex-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  margin: 0px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px; 
}
.flex-item:hover {
  background-color: #827A5D;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  padding-right: 0px;
  align-items: flex-start;
  width: 100%;
  height: 120px;
  text-align: center;
  background-image: url(./images/bannermeep.png);
  height: 25vh;
  width: 100vw;
}
.nav-buttons {
  display: flex;
  margin-right: 20px;
  max-width: 100%;
  max-height: 100%;
}


/*HOME PAGE*/
.home {
  display: flex;
  justify-content: center;
  width: 100%;
}
.homedescript {
  display: flex;
  height: 800px;
  width: 1200px;
  background-image: url(./images/looking4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #827A5D;
  border-radius: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
}
.abouttext {
  display: flex;
  justify-content: space-between;
  width: 35%;
  align-items: center;
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;

  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;

  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;

  padding-left: 20px;
  padding-top: 20px;

  background-color: rgba(0, 0, 0, 0.342);
}

.tinybox {
  display: flex;
  justify-content: center;
  width: 100%;
}
.tinyboxdescript {
  display: flex;
  height: fit-content;
  width: 90%;
  background-color: #CAC1AA;

  border-radius: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 60px;
  margin-right: 60px;
}
.bigtext {
  font-size: 30px;
  margin-bottom: 20px;
}
.tinyboxtext {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  font-size: 20px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;

  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;

  border-radius: 10px;
  cursor: pointer;
  font-weight: 300;

  padding-left: 20px;
  padding-top: 20px;
}
.tinypics {
  display: flex;
  max-width: 29%;
  border-radius: 20px;

  margin: 17px;
}
/*ART PAGE*/
.artbar {
  background-color: #CAC1AA;
  height: 50px;
  width: 900px;
  margin-top: 30px;
  margin-left: 30px;
  padding-left: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.artmuseum {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.artpeices {
  max-width: 50%;
  max-height: 700px;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 40px;
  display: inline-block;
}
.artpeices:hover {
  opacity: 50%;
}

/*PROJECT PAGE*/
.seniorproject {
  width: 100%;
  height:auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  margin-left: 0px;
}
.seniorvideo {
  display: flex;
  height: fit-content;
}
.seniordescript {
  flex-wrap: wrap;
  height: 300px;
  width: 700px;
  padding-left: 15px;
  padding-top: 10px;
  background-color: #827A5D;
  border-radius: 20px;
}
.seniortext {
  font-family: 'Lato';
  font-size: 20px;
  line-height: 1.4;
}
.gradeproject {
  width:100%;
  height:auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
  margin-left: 0px;
}
.gradeprojectdescript {
  flex-wrap: wrap;
  height: 300px;
  width: 700px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  background-color: #827A5D;
  border-radius: 20px;
}
.gradeprojectpic {
  height: 500px;
  width: 800px;
}
.gradeprojecttext {
  font-family: 'Lato';
  font-size: 20px;
  line-height: 1.4;
}
.website {
  width: 100%;
  height:auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  margin-left: 0px;
}
.websitepic {
  height: 450px;
  width: 800px;
  display: flex;
  justify-content: contain;
}
.websitedescript {
  flex-wrap: wrap;
  height: 300px;
  width: 700px;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  background-color: #827A5D;
  border-radius: 20px;
}
.websitetext {
  font-family: 'Lato';
  font-size: 20px;
  line-height: 1.4;
}

/*FRIENDS PAGE*/
.container {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;

  margin-left: 25%;
  margin-right: 25%;
}
.friends {
  margin: 20px;
  background-color: #CAC1AA;
  border-radius: 20px;
  padding: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.text {
  padding: 20px;
  padding-left: 50px;
}
.Name {
  padding-bottom: 15px;
  font-size: 24px;
}
.Pfp {
  border-radius: 10px;
}